/* css */

.body {
  background: linear-gradient(#16222a, #3a6073);
  background-attachment: fixed;
  text-align: center;
}

.user-selection {
  background-color: yellow;
  border: solid 3px red;
  margin: 0 2em 2em 2em;
}

.user-card {
  background-color: white;
  border: solid 3px red;
  margin: 0 2em 2em 2em;
}

.health-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.activity-data {
  background: linear-gradient(#333333, #dd1818);
  background-attachment: fixed;
  border: solid 3px red;
  margin: 0 2em 2em 2em;
}

.hydration-data {
  background: linear-gradient(#2980b9, #6dd5fa, #ffffff);
  background-attachment: fixed;
  border: solid 3px red;
  margin: 0 2em 2em 2em;
}
